<div class="registerContainer">
  <dir class="registerForm">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <input type="text" formControlName="name" placeholder="Nombre">
      <input type="email" formControlName="email" placeholder="Correo electrónico">
      <input type="text" formControlName="address" placeholder="Dirección">
      <input type="text" formControlName="uId" placeholder="Número de identificación">
      <input type="text" formControlName="vehiclePlate" placeholder="Placa del vehículo">
      <input type="text" formControlName="password" placeholder="Contraseña">
      <button type="submit">Enviar</button>
    </form>
  </dir>
</div>
